.auth-nav-list {
  display: flex;
}

.auth-nav-list-item:not(:last-child) {
  margin-right: 20px;
}

.auth-nav-list-item-link {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
  color: #2a363b;
}

.auth-nav-list-item-active-link {
  color: #e84a5f;
}
